{
  "openapi": "3.0.1",
  "info": {
    "title": "Resume API",
    "description": "API to access the resources needed for a resume",
    "contact": {
      "email": "brandon.kimbrough88@gmail.com"
    },
    "license": {
      "name": "GPL-3.0",
      "url": "https://www.gnu.org/licenses/gpl-3.0.en.html"
    },
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "Developed on GitHub",
    "url": "https://github.com/bkimbrou/resume-api"
  },
  "servers": [
    {
      "url": "https://resume-api.thekimbroughs.net/v1"
    }
  ],
  "tags": [
    {
      "name": "certifications",
      "description": "Certifications achieved"
    },
    {
      "name": "education",
      "description": "Education achieved"
    },
    {
      "name": "jobs",
      "description": "Jobs held"
    },
    {
      "name": "skills",
      "description": "Skills attained"
    }
  ],
  "paths": {
    "/certifications": {
      "put": {
        "tags": [
          "certifications"
        ],
        "summary": "Insert or update a certification",
        "operationId": "upsertCertification",
        "requestBody": {
          "description": "Certification object to be inserted/updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Certification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "400": {
            "description": "Bad data",
            "content": {}
          },
          "404": {
            "description": "Certification not found",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      },
      "get": {
        "tags": [
          "certifications"
        ],
        "summary": "Get all certifications",
        "operationId": "getAllCertifications",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Certification"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/certifications/{id}": {
      "delete": {
        "tags": [
          "certifications"
        ],
        "summary": "Delete certification",
        "operationId": "deleteCertification",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of certification",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/education": {
      "put": {
        "tags": [
          "education"
        ],
        "summary": "Insert or update an education item",
        "operationId": "upsertEducation",
        "requestBody": {
          "description": "Education object to be inserted/updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Education"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "400": {
            "description": "Bad data",
            "content": {}
          },
          "404": {
            "description": "Education not found",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      },
      "get": {
        "tags": [
          "education"
        ],
        "summary": "Get all education",
        "operationId": "getAllEducation",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Education"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/education/{id}": {
      "delete": {
        "tags": [
          "education"
        ],
        "summary": "Delete education",
        "operationId": "deleteEducation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of education",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/jobs": {
      "put": {
        "tags": [
          "jobs"
        ],
        "summary": "Insert or update a job",
        "operationId": "upsertJob",
        "requestBody": {
          "description": "Job object to be inserted/updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Job"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "400": {
            "description": "Bad data",
            "content": {}
          },
          "404": {
            "description": "Job not found",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      },
      "get": {
        "tags": [
          "jobs"
        ],
        "summary": "Get all jobs",
        "operationId": "getAllJobs",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/jobs/{id}": {
      "delete": {
        "tags": [
          "jobs"
        ],
        "summary": "Delete job",
        "operationId": "deleteJob",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of job",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/skills": {
      "put": {
        "tags": [
          "skills"
        ],
        "summary": "Insert or update a skill",
        "operationId": "upsertSkill",
        "requestBody": {
          "description": "Skill object to be inserted/updated",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Skill"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "400": {
            "description": "Bad data",
            "content": {}
          },
          "404": {
            "description": "Skill not found",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      },
      "get": {
        "tags": [
          "skills"
        ],
        "summary": "Get all skills",
        "operationId": "getAllSkills",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Skill"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    },
    "/skills/{id}": {
      "delete": {
        "tags": [
          "skills"
        ],
        "summary": "Delete skill",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of skill",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          },
          "500": {
            "description": "Back end error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Certification": {
        "required": [
          "name",
          "description",
          "dateIssued"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique identifier for certification"
          },
          "name": {
            "type": "string",
            "description": "name of certification",
            "example": "PMP"
          },
          "description": {
            "type": "string",
            "description": "A more verbose description of what the certification is",
            "example": "Project Managment Professional"
          },
          "dateIssued": {
            "type": "string",
            "format": "date",
            "description": "date the certification was issued",
            "example": "2019-06-11"
          },
          "dateExpires": {
            "type": "string",
            "format": "date",
            "description": "date the certification expires, if applicable",
            "example": "2022-06-11"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "example": "https://www.youracclaim.com/badges/cd2c9539-ae63-4601-8421-fd639065efff"
          }
        }
      },
      "Education": {
        "required": [
          "school",
          "location",
          "level",
          "degree",
          "isCurrentlyAttending",
          "graduated"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique identifier for education"
          },
          "school": {
            "type": "string",
            "description": "the school attended",
            "example": "Virginia Tech"
          },
          "location": {
            "type": "string",
            "description": "the location of the school",
            "example": "Blacksburg, VA"
          },
          "level": {
            "type": "string",
            "description": "the level of education pursued",
            "example": "Bachelors"
          },
          "degree": {
            "type": "string",
            "description": "the degree obtained or being worked towards",
            "example": "Computer Science"
          },
          "isCurrentlyAttending": {
            "type": "boolean",
            "description": "flag indicating if currently attending school",
            "example": false
          },
          "graduated": {
            "type": "boolean",
            "description": "flag if graduated with degree",
            "example": true
          },
          "graduationDate": {
            "type": "string",
            "description": "the data of graduation or expected date of graduation",
            "example": "2010-05-18T00:00:00.000Z"
          }
        }
      },
      "Job": {
        "required": [
          "employer",
          "title",
          "responsibilities",
          "startDate"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique identifier for job"
          },
          "employer": {
            "type": "string",
            "example": "Google"
          },
          "title": {
            "type": "string",
            "example": "Software Development Engineer"
          },
          "responsibilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "startDate": {
            "type": "string",
            "format": "date",
            "example": "2018-07-01T00:00:00.000Z"
          },
          "endDate": {
            "type": "string",
            "format": "date",
            "example": "2019-07-01T00:00:00.000Z"
          }
        }
      },
      "Skill": {
        "required": [
          "name",
          "description",
          "monthsOfExperience",
          "dateLastUsed"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "unique identifier for skill"
          },
          "name": {
            "type": "string",
            "description": "name of skill",
            "example": "Java"
          },
          "description": {
            "type": "string",
            "description": "A more verbose description of what the skill is",
            "example": "Development experience in Java programming language"
          },
          "monthsOfExperience": {
            "type": "integer",
            "description": "the number of months of experience with skill",
            "example": 60
          },
          "dateLastUsed": {
            "type": "string",
            "format": "date",
            "description": "the date the skill was last used"
          }
        }
      }
    }
  }
}